
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1491311134452'); /* IE9*/
  src: url('iconfont.eot?t=1491311134452') format('embedded-opentype'), /* IE6-IE8 */
  /*url('iconfont.woff?t=1491311134452') format('woff'), !* chrome, firefox *!*/
  url('iconfont.ttf?t=1491311134452') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1491311134452') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before { content: "\e603"; }

.icon-unie61d:before { content: "\e60a"; }

.icon-close:before { content: "\e616"; }

.icon-110:before { content: "\e62f"; }

.icon-icon:before { content: "\e623"; }

.icon-youjiantou:before { content: "\e6a1"; }

.icon-jiantou-copy-copy:before { content: "\e60f"; }

.icon-daohang:before { content: "\e604"; }

.icon-xueli:before { content: "\e67b"; }

.icon-lisimoshicaidandaohang:before { content: "\e601"; }

.icon-zhong:before { content: "\e613"; }

.icon-shipin:before { content: "\e6ce"; }

.icon-search:before { content: "\e600"; }

.icon-jiantou:before { content: "\e71c"; }

